{%load static%}
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'final.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>How To Play</title>
</head>
<body>
<div class="htp">
    Using the 4 hints you are supposed to pinpoint the element, you have 4 tries to guess the element.If you don't
    guess the element using those 4 tries you will lose 1 heart. You have only only 4 hearts so guess carefully!
    Test your chemistry and see if you can survive and ENJOY CHEMEO!!!
</div>
</body>
</html>